@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Get to Know Joel</h1>

<p>
    Joel Hilton, the epitome of charm and ambition, is a visionary entrepreneur and philanthropist dedicated to making a profound impact on society. Growing up alongside his brother Spencer Hilton, renowned as an Information Systems professor at BYU, Joel was instilled with a passion for both technology and education. While Spencer excelled in academia, Joel ventured into entrepreneurship, founding and leading multiple successful startups in the tech industry. His ventures, fueled by a desire to leverage technology for social good, have garnered him admiration and respect. Beyond his entrepreneurial pursuits, Joel is deeply committed to philanthropy, actively engaging in initiatives addressing pressing social issues. With his magnetic personality and unwavering dedication, Joel continues to inspire and drive positive change, leaving an indelible mark on the world.
</p>

<a href="https://www.qwcomedy.com/">Here's Joe's Comedy Group</a>
<br /><br />
<a href="https://baconsale.com/">Here's Joe's Podcast</a>
<br /><br />
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" />
</a>